.App{
  background-color: rgb(243, 242, 237);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  font-size:35px;
  color: black;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

.heading{
  margin-top: 50px;
}
.search {
  width: 100%;
  max-width:400px;
}
